.sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: calc(2rem + 24px) var(--layout-padding);
    gap: 1rem;
    background: var(--secondary-bg-color);
    border-top: 1px solid var(--bg-color);
    width: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height));
    transition: width 0.2s;
    overflow: hidden;
}

.sidebarCollapsed {
    width: var(--sidebar-width-collapsed);
}

.toggleIcon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    transition: transform 0.3s;
    transition-delay: 0.1s;
}

.toggleIconCollapsed {
    transform: rotate(180deg);
}

.linkIcon {
    fill: var(--primary-color);
    min-width: fit-content;
    margin-right: 0.5rem;
}
