.Pokemon {
    min-height: 100%;
}

.skeletonWrapper,
.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .placeholder {
        margin: 0 auto;
        border: 1px solid var(--secondary-color);
    }
}
