.AddCommentForm {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--bg-secondary-color);
    border-radius: 1rem;
}

.input {
    flex-grow: 1;
}
