.app.dark {
    --bg-color: #cb0000;
    --inverted-bg-color: #fff;

    --primary-color: #000000;
    --inverted-primary-color: #ffffff;

    --secondary-color: #004E64FF;
    --inverted-secondary-color: #ffda00;

}