.app.dark {
    --bg-color: #2b2b2b;
    --secondary-bg-color: #3C3F41FF;
    --inverted-bg-color: #fff;

    --primary-color: #b9b9b9;
    --inverted-primary-color: #2b2b2b;

    --secondary-color: #6896ba;
}
