.app.dark {
    --bg-color: #730D0DFF;
    --inverted-bg-color: #fff;

    --primary-color: #000000;
    --inverted-primary-color: #ffffff;

    --secondary-color: #004E64FF;
    --inverted-secondary-color: #ffc8c8;

}