:root {
    --bg-color: #fff;
    --inverted-bg-color: #2b2b2b;
    --bg-secondary-color: #ececec;
    --primary-color: #000;
    --inverted-primary-color: #fff;
    --secondary-color: #c07581;
    --inverted-secondary-color: #f00;
}
