.app.light {
    --bg-color: #fff;
    --inverted-bg-color: #cb0000;

    --primary-color: #000000;
    --inverted-primary-color: #ffffff;

    --secondary-color: #ffda00;
    --inverted-secondary-color: #004e64;
}