.light_theme {
    --bg-color: #fff;
    --bg-inverted-color: #2b2b2b;
    --bg-primary-color: #f6f6f6;
    --bg-secondary-color: #f1f1f1;
    --primary-color: #2b2b2b;
    --inverted-primary-color: #b9b9b9;
    --secondary-color: #6896ba;
}
