.pikachu_theme {
    --bg-color: #fdca05;
    --bg-inverted-color: #2b2b2b;
    --bg-primary-color: #f7d223;
    --bg-secondary-color: #fbfaf4;
    --primary-color: #2b2b2b;
    --inverted-primary-color: #b9b9b9;
    --secondary-color: #e74008;
}
