.button {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 0;
    margin: 0;
    transition: opacity 0.2s;

    &:hover {
        opacity: 0.8;
    }
}

.clear {
    outline: none;
    border: none;
    background: none;
}
