.button {
    margin: 0;
    outline: none;
    border: none;
    border-radius: 2rem;
    color: var(--primary-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 0.5rem 1rem;
    transition: opacity 0.2s;

    &:hover {
        opacity: 0.8;
    }
}

.primary {
    color: #fff;
    background: var(--secondary-color);
}

.secondary {
    background: transparent;
    border: 1px solid var(--primary-color);
}

.clear {
    padding: 0;
    background: none;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}
