.navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--bg-secondary-color);
    display: flex;
    gap: 3rem;
    align-items: center;
    padding: var(--inner-padding);
}

.logo {
    height: calc(100% + 1rem);

    img {
        height: 100%;
        object-fit: contain;
    }
}

.links {
    margin-left: auto;
    display: flex;
    gap: 1rem;
}

.controls {
    display: flex;
    gap: 1rem;
}
