.appLink {
    transition: opacity 0.2s;
    display: flex;
    justify-items: center;
    white-space: nowrap;

    &:hover {
        opacity: 0.8;
    }
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--secondary-color);
}
